body {margin: 0;}

body {
  background: rgb(107,201,121);
  /*background: radial-gradient(circle, rgba(107,201,121,0.6404762588629201) 0%, rgba(200,197,45,0.6600841020001751) 18%, rgba(110,129,215,0.648879620207458) 100%); */
  margin: 0px 25px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
}

.multi-repeating-linear {
  background:
    repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
      rgba(255, 153, 0, 0.5) 80px, rgba(255, 255, 0, 0.5) 120px,
      rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
      rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px,
      rgba(255, 0, 0, 0.5) 300px),
    repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
      rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
      rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
      rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
      rgba(255, 0, 0, 0.5) 230px),
    repeating-linear-gradient(23deg, red 50px, orange 100px,
      yellow 150px, green 200px, blue 250px,
      indigo 300px, violet 350px, red 370px);
}

h1 {
  text-align:center;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
